<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/_fragments :: header"></header>
<body class="hold-transition sidebar-mini">
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/_fragments::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/_fragments :: sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">投票管理</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <div class="row">
                                <div class="col-8 float-left">
                                    <button class="btn btn-info" onclick="addPoll()"><i
                                            class="fa fa-plus"></i>&nbsp;新增
                                    </button>
                                    <button class="btn btn-info" onclick="editPoll()"><i
                                            class="fa fa-edit"></i>&nbsp;修改
                                    </button>
                                    <button class="btn btn-danger" onclick="deletePoll()"><i
                                            class="fa fa-trash-o"></i>&nbsp;删除
                                    </button>
                                </div>
                                <div class="col-4 float-right">
                                    <input type="text" placeholder="关键字(标题/摘要/)" id="keyword"
                                           class="form-control ">&nbsp;
                                    <br>
                                    <button class="btn btn-info" onclick="search()"><i
                                            class="fa fa-search"></i>&nbsp;搜索
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <!-- JqGrid必要DOM,用于创建表格展示列表数据 -->
                        <table id="jqGrid" class="table table-bordered"></table>
                        <!-- JqGrid必要DOM,分页信息区域 -->
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/_fragments :: footer-fragment"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

<div th:replace="admin/_fragments :: js"></div>

<!-- jqgrid -->
<script th:src="@{/admin/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>


<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>

<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/poll.js}"></script>

</body>
</html>
