<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vote | Xmchx</title>
</head>

<body>

<div th:replace="_fragments :: menu(1)"></div>
<div class="container mt-5 mb-lg-3">
    <!-- Card -->
    <div class="card border-primary mb-3 my-card"
         style="max-width:40rem;" th:each="vote : ${page.content}">
        <div class="card-header">
            <div class="row">
                <img class="my-card-avatar"
                     th:src="${vote.user.avatar}"
                     alt="avatar">
                <div>
                    <h5>
                        <span th:text="${vote.user.name}">Xmchx
                        </span>
                        <span th:text="|@${vote.user.username}|"
                              class="my-card-time">@xmchx
                        </span>
                    </h5>
                    <span class="my-card-time"
                          th:text="${#dates.format(vote.createTime,'dd-MM-yyyy HH:mm')}">13 Feb
                        2018 -
                        14:19</span>
                </div>
            </div>

        </div>
        <div class="card-body text-primary">
            <h2 class="card-title" th:text="${vote.title}">Test</h2>
            <p class="font-weight-bolder" th:text="${vote.summary}">element</p>
            <div class="my-form">
                <form class="Form">
                    <div
                            th:each="option : ${vote.choices}"
                            th:remove="tag">
                        <div th:if="${vote.mode} eq '1'"
                             th:remove="tag">
                            <!--单选-->
                            <input class="Form-input"
                                   th:name="${vote.id}"
                                   th:id="${option.id}" type="radio">
                            <label
                                    th:text="${option.text}"
                                    class="Form-label  Form-label--radio"
                                    th:for="${option.id}">banana
                            </label>
                        </div>
                        <div th:if="${vote.mode} eq '2'"
                             th:remove="tag">
                            <!--多选-->
                            <input class="Form-input"
                                   th:name="${vote.id}"
                                   th:id="${option.id}"
                                   type="checkbox">
                            <label th:text="${option.text}"
                                   class="Form-label  Form-label--checkbox"
                                   th:for="${option.id}">banana</label>
                        </div>
                    </div>
                </form>

                <button th:id="|voteButton${vote.id}|"
                        th:attr="voteId=${vote.id},limitCount=${vote.limitCount}"
                        onclick="voteSubmit(this)"
                        class="btn btn-outline-primary my-card-button">Vote
                </button>&nbsp;<a th:id="|voteInfo${vote.id}|" th:href="|/vote/${vote.id}|"
                                  class="btn btn-outline-info my-card-button"
                                  style="display: none;">查看
            </a>&nbsp;&nbsp;&nbsp;<span
                    th:text="|${vote.count} votes|">4
                    votes</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="deadline"
                                                                    th:attr="data-deadline=${#dates.format(vote.expirationDateTime,'yyyy-MM-dd HH:mm:ss')},data-voteId=${vote.Id}">6 days
                    left</span></p>
            </div>
            <p>
                <footer class="blockquote-footer"
                        th:text="${vote.user.motto} != null? ${vote.user.motto}:'该用户没有座右铭。'">
                </footer>
        </div>
    </div>

</div>
<footer style="width: 50%;margin:0 auto;">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${page.page == 0}?'disabled':''">
                <a class="page-link" th:href="${#strings.concat(aHref,page.page)}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!-- 迭代生成页码 -->
            <th:block th:if="${page.totalPages == 0}">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <span>0</span>
                    </a>
                </li>
            </th:block>
            <th:block th:if="${page.totalPages != 0}">
                <li class="page-item" th:each="i : ${#numbers.sequence(1, page.totalPages)}">
                    <a class="page-link" th:href="${#strings.concat(aHref,i)}">
                        <span th:text="${i}"></span>
                    </a>
                </li>
            </th:block>

            <li class="page-item" th:classappend="${page.last == true}?'disabled':''">
                <a class="page-link" th:href="${#strings.concat(aHref,page.page+1+1)}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
<div th:replace="_fragments :: js"></div>
<script th:src="@{/dist/js/index.js}"></script>
<script th:src="@{/plugins/moment.js}"></script>

</body>
</html>