<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vote | Xmchx</title>
</head>
<body>
<div th:replace="_fragments :: menu(3)"></div>
<div class="container mt-5 mb-lg-3">
    <div class="row">
        <div class="col-4">
            <div class="text-center">
                <img th:src="${userResponse.avatar}" width="200" class="rounded-circle float-right"
                     th:alt="${userResponse.username}">
            </div>
        </div>
        <div class="col-6">
            <input type="hidden" id="oldUsername" name="oldUsername" th:value="${userResponse.username}">
            <div class="alert alert-danger" id="error-msg" style="display: none;">
                错误信息展示栏。
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input th:value="${userResponse.username}" id="username" type="text"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <input th:value="${userResponse.name}" id="name" type="text"
                       class="form-control"
                       placeholder="Username"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <input th:value="${userResponse.email}" disabled type="text" class="form-control"
                       placeholder="Recipient's username"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <label for="avatar">Your avatar URL</label>
            <div class="input-group mb-3">
                <input th:value="${userResponse.avatar}" type="text" class="form-control"
                       id="avatar"
                       aria-describedby="basic-addon3">
            </div>


            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Motto</span>
                </div>
                <textarea id="motto"
                          th:text="${userResponse.motto} != null ?${userResponse.motto}:''"
                          class="form-control"
                ></textarea>
            </div>
            <br>
            <button type="button" id="saveBtn" class="btn btn-outline-secondary">Save</button>
        </div>
    </div>

</div>
<div th:replace="_fragments :: js"></div>
<script th:src="@{/dist/js/profile.js}"></script>

</body>
</html>