<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments::head(~{::title})">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vote | Xmchx</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-5" href="/">Vote App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse  justify-content-end " id="navbarSupportedContent">
        <ul class="navbar-nav my-2 my-lg-0" style="margin-right:130px;">
            <li class="nav-item ">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Signup</a>
            </li>
        </ul>
    </div>


</nav>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div  class="alert alert-danger alert-dismissible hide"
                         role="alert">
                        <strong>Holy guacamole!</strong> <span id="errorName"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <span class="anchor" id="formRegister"></span>
                    <!-- form card register -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputFullName">Full Name</label>
                                    <input type="text" class="form-control" id="inputFullName"
                                           placeholder="Full name" required="">
                                </div>
                                <div class="form-group">
                                    <label for="inputUsername">Username</label>
                                    <input type="text" class="form-control" id="inputUsername"
                                           placeholder="Username" required="">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail"
                                           placeholder="Email" required="">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="button" id="registerBtn"
                                            class="btn btn-success btn-lg float-right">
                                        Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card register -->

                </div>
            </div>
            <!--/row-->

            <br><br><br><br>

        </div>
        <!--/col-->
    </div>


</div>
<!--/container-->

<div th:replace="_fragments :: js"></div>
<script th:src="@{/dist/js/signup.js}"></script>
</body>
</html>