<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    <p>登录名：<span sec:authentication="name"></span></p>
    <p>角色：<span sec:authentication="principal.authorities"></span></p>
    <p>Username:<span sec:authentication="principal.username"></span></p>
    <p>Password:<span sec:authentication="principal.password"></span></p>
    <p>Name:<span sec:authentication="principal.name"></span></p>
    <p>拥有的角色：
        <span sec:authorize="hasRole('ROLE_ADMIN')">管理员</span>
        <span sec:authorize="hasRole('ROLE_USER')">用户</span>
    </p>
</div>
</body>
</html>